<!DOCTYPE html>
<html ng-app="myKraigsList">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>sample</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/body.css" />
		<script src="/assets/js/lib/angular.js"></script>
		<script src="/assets/js/lib/angular-route.js"></script>
		<script src="/assets/js/lib/angular-resource.js"></script>
		<script src="/assets/js/app/myKraigsList.js"></script>
	</head>

	<body>
		<div id="header" ng-controller="headerCtrlr">
			<ul>
				<li><a ng-click="gotoStuff()" ng-class="{active:site == 'stuff', inactive: site != 'stuff'}" href="/stuff">Stuff</a></li>
				<li><a ng-click="gotoJobs()" ng-class="{active:site == 'jobs', inactive: site != 'jobs'}" href="/jobs">Jobs</a></li>
				<li><a ng-click="gotoGigs()" ng-class="{active:site == 'gigs', inactive: site != 'gigs'}" href="/gigs">Gigs</a></li>
				<li><a ng-click="gotoPlaces()" ng-class="{active:site == 'places', inactive: site != 'places'}" href="/places">Places</a></li>
				<li><a ng-click="gotoServices()" ng-class="{active:site == 'services', inactive: site != 'services'}" href="/services">Services</a></li>
			</ul>
		</div>
		<div ng-view=""></div>
	</body>
</html>
