<div id="content-container" ng-controller="myContentCtrlr">
	<div ng-show="isRendered" id="link_content">
		<div ng-repeat="rec in data">
			<h1>{{rec.date}}</h1>
			<div class="date">
				<div ng-repeat="loc in rec.records" group="{{group}}">
					<h2>{{group}}</h2>
					<ul class="locationItems" group="{{group}}">
						<li>
							<a class="jobsite" info="{{title}}" target="_blank" href="{{href}}">
								<span>{{title}}</span>
							</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>