<div ng-show="isLoaded">
	<form ng-submit="submit()" id="find_items">
		<div id="change_size_container">
			<div style="font-size: 20px;">{{pagetitle}}</div>
			<div ng-repeat="field in fields">
				<div ng-switch="field.argType">
					<div ng-switch-when="text">
						<label class="fields" for="{{field.argId}}">{{field.argTitle}}</label>
						<input class="fields" type="text" ng-model="form[field.argName]" id="{{field.argId}}" />
						<br style="margin:0;padding:0; height:1px; clear: left;" />
					</div>
					<div ng-switch-when="radio">
						<div ng-repeat="radio in field.radios">
							<label class="fields" for="{{radio.arg_name_id}}">{{radio.arg_name}}</label>
							<input ng-checked="radio.checked" class="fields" type="radio" ng-model="form[field.argName]" value="{{radio.arg}}" id="{{radio.arg_name_id}}" />
							<br style="margin:0;padding:0; height:1px; clear: left;" />
						</div>
					</div>
					<div ng-switch-when="checkbox">
						<label class="fields" for="{{field.checkbox.arg_name}}">{{field.checkbox.title}}</label>
						<input class="fields" type="checkbox" ng-model="form[field.checkbox.arg_name]" value="{{field.checkbox.value}}" id="{{field.checkbox.arg_name}}" />
						<br style="margin:0;padding:0; height:1px; clear: left;" />
					</div>
				</div>
			</div>

			<cite>{{pagesearchexample}}</cite>
			<div id="locations_container">
				Region:&nbsp;&nbsp;<a ng-click="openRegions()">open</a>
				<div ng-class="{open:isRegionListOpen}" id="region_list">
					<label ng-repeat="region in region_list" for="{{region.type}}">
						<input ng-click="selectAreas(region);" ng-checked="region.selected" class="regions" type="checkbox" id="{{region.type}}" value="{{region.type}}" />{{region.name}}
					</label>
				</div><br />
				Areas:&nbsp;&nbsp;<a ng-click="openAreas()">open</a> selected: {{totalAreas()}}
				<div ng-class="{open:isAreaListOpen}" id="areas_list">
					<label ng-repeat="area in area_list" for="{{area.partial}}">
						<input ng-click="area.selected=!area.selected" class="region {{area.type}} location" ng-checked="area.selected" type="checkbox" id="{{area.partial}}" value="{{area.partial}}" />{{area.name}}, {{area.state}}
					</label>
				</div>
			</div>
			<button id="search_btn" type="submit">Search</button>
		</div>
	</form>

</div>
